/*Box-sizing*/
* {
  box-sizing: border-box;
}

//colors
$blue: #4fa7fb;
$pink: #ff9fb7;
$whitesmoke: #f3f3f3;
$lightblue: #cbe5ff;
$white: #ffffff;
$black: #000000;
$dark: #292929;

//Screens
$desktop: 1630px;
$tablet: 870px;
$mobile: 340px;

//Fonts
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(/assets/fonts/Gilroy_700/Gilroy-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(/assets/fonts/Gilroy_600/Gilroy-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(/assets/fonts/Gilroy_500/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(/assets/fonts/Gilroy_400/Gilroy-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Coolvetica", sans-serif;
  src: url(/assets/fonts/Coolvetica_400/CoolveticaRg-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/assets/fonts/Roboto_400/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/assets/fonts/Roboto_300/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/assets/fonts/Roboto_500/Roboto-Medium.ttf);
  font-weight: 500;
}

//mixins
@mixin container {
  max-width: 1622px;
  margin: 0 auto;
}

@mixin tablet-container {
  max-width: 859.68px;
  margin: 0 auto;
}

@mixin mobile-container {
  max-width: 328.39px;
  margin: 0 auto;
}

@import "reset";

// Стили для header
.container {
  @include container;
  @media screen and (max-width: $desktop) {
    @include tablet-container;
  }
  @media screen and (max-width: $tablet) {
    @include mobile-container;
  }
  @media screen and (max-width: $mobile) {
    max-width: 240px;
    margin: 0 auto;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 63px;
  @media screen and (max-width: $desktop) {
    margin-top: 26.55px;
  }
  @media screen and (max-width: $tablet) {
    margin-top: 10.2px;
  }
  @media screen and (max-width: $mobile) {
    flex-wrap: wrap;
  }
}
/* Стили для логотипа */
.logo {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: $blue;
  margin-right: 15.8%;
  @media screen and (max-width: $desktop) {
    font-size: 9.56px;
    line-height: 11.56px;
    margin-right: 135.66px;
  }
  @media screen and (max-width: $tablet) {
    font-size: 3.67px;
    line-height: 4.44px;
    margin-right: 50.74px;
  }
  @media screen and (max-width: $mobile) {
    margin-right: 5%;
  }
  &:hover {
    color: $pink;
  }
}
/* Стили для меню */
.menu {
  margin-right: 10%;
  @media screen and (max-width: $mobile) {
    margin-right: 5%;
  }
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    @media screen and (max-width: $desktop) {
      gap: 26.55px;
    }
    @media screen and (max-width: $tablet) {
      gap: 10.2px;
    }
    @media screen and (max-width: $mobile) {
      gap: 5px;
    }
  }
  & a {
    text-decoration: none;
    color: $blue;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    @media screen and (max-width: $desktop) {
      font-size: 10.62px;
      line-height: 12.84px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 4.08px;
      line-height: 4.93px;
    }

    &:hover {
      color: $pink;
    }
  }
}
/* Стили для голубых кнопок: с номером телефона и "Записаться на консультацию" */
.blue-button {
  display: inline-block;
  background-color: $blue;
  box-shadow: 4px 4px 14px 0px #d0ebff66 inset;
  box-shadow: -4px -4px 10px 0px #2d536f66 inset;
  padding: 10px;
  border-radius: 12px;
  border-color: $blue;
  text-align: center;

  @media screen and (max-width: $desktop) {
    padding: 6px;
    border-radius: 5px;
  }
  @media screen and (max-width: $tablet) {
    padding: 2px;
    border-radius: 2px;
  }

  /* Смена стиля кнопки при наведении */
  &:hover {
    background-color: $pink;
    border-color: $pink;
    box-shadow: 4px 4px 14px 0px #ffc8d6 inset;
    box-shadow: -4px -4px 10px 0px #c88d9c inset;
  }
}

/* Стили для номера телефона */
.blue-button-text {
  display: block;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #f7f7f7;

  @media screen and (max-width: $desktop) {
    font-size: 12.74px;
    line-height: 15.41px;
  }
  @media screen and (max-width: $tablet) {
    font-size: 4.9px;
    line-height: 5.92px;
  }
}

//Стили для верхней секции с мужчиной

.section-with-man {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url("/assets/images/main-man.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: -25px;
  @media screen and (max-width: 1865px) {
    background-position-x: 430px;
  }

  @media screen and (max-width: $desktop) {
    background-image: url("/assets/images/main-man-tablet.png");
    background-position-x: 50%;
  }
  @media screen and (max-width: $tablet) {
    background-image: url("/assets/images/main-man-mobile.png");
    background-position-y: -20px;
  }
  @media screen and (max-width: $mobile) {
    background-image: none;
  }
}

/* Заголовок h1 */
.main-header {
  max-width: 1134px;
  padding-top: 114px;
  font-family: Coolvetica;
  font-size: 140px;
  font-weight: 400;
  line-height: 125px;
  letter-spacing: 0em;
  text-align: left;
  color: $blue;

  @media screen and (max-width: $desktop) {
    max-width: 602.15px;
    padding-top: 58.94px;
    font-size: 74.34px;
    line-height: 66.16px;
  }
  @media screen and (max-width: $tablet) {
    max-width: 231.42px;
    padding-top: 22.65px;
    font-size: 28.57px;
    line-height: 25.43px;
  }
}
/* Кнопка с ценой */
.price-button {
  display: inline-block;
  max-width: 567px;
  margin-top: 30px;
  padding: 30px 60px 30px 60px;
  border-radius: 24px;
  background-color: $pink;
  box-shadow: 4px 4px 14px 0px #ffc8d6 inset;
  box-shadow: -4px -4px 10px 0px #c88d9c inset;
  text-align: center;
  & a {
    text-decoration: none;
  }

  @media screen and (max-width: $desktop) {
    max-width: 301.72px;
    margin-top: 16.68px;
    padding: 16px 32px 16px 32px;
    border-radius: 13px;
  }
  @media screen and (max-width: $tablet) {
    max-width: 116.49px;
    margin-top: 7.14px;
    padding: 6px 12px 6px 12px;
    border-radius: 5px;
  }
}
/* Стили для цены */
.price {
  font-family: Coolvetica;
  font-size: 100px;
  font-weight: 400;
  line-height: 89px;
  letter-spacing: 0em;
  text-align: left;
  color: #f7f7f7;

  @media screen and (max-width: $desktop) {
    font-size: 53.1px;
    line-height: 47.26px;
  }
  @media screen and (max-width: $tablet) {
    font-size: 20.41px;
    line-height: 18.16px;
  }
}
.cover-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding-bottom: 59px;
  gap: 346px;
  @media screen and (max-width: $desktop) {
    padding-bottom: 31.73px;
    gap: 178.95px;
  }
  @media screen and (max-width: $tablet) {
    padding-bottom: 11.96px;
    gap: 68.78px;
  }
  @media screen and (max-width: $mobile) {
    gap: 5px;
    flex-wrap: wrap;
  }
}
/* Стили для преимуществ */
.advantages {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media screen and (max-width: $desktop) {
    margin-top: 28.93px;
    gap: 7.96px;
  }
  @media screen and (max-width: $tablet) {
    margin-top: 11.18px;
    gap: 3.06px;
    width: max-content;
  }

  &__item {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    @media screen and (max-width: $desktop) {
      gap: 12.74px;
    }
    @media screen and (max-width: $tablet) {
      gap: 4.9px;
    }
  }
  &__img {
    max-width: 100px;
    width: 100%;
    @media screen and (max-width: $desktop) {
      max-width: 53.1px;
    }
    @media screen and (max-width: $tablet) {
      max-width: 20.41px;
    }
  }
  &__name {
    display: inline-block;
    padding: 20px 15px 20px 15px;
    border-radius: 12px;
    background-color: $blue;
    @media screen and (max-width: $desktop) {
      padding: 11px 8px 11px 8px;
      border-radius: 6px;
    }
    @media screen and (max-width: $tablet) {
      padding: 4px 3px 4px 3px;
      border-radius: 2px;
    }

    & p {
      font-family: Roboto;
      font-size: 30px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
      color: $white;
      @media screen and (max-width: $desktop) {
        font-size: 15.93px;
        line-height: 14.18px;
      }
      @media screen and (max-width: $tablet) {
        font-size: 6.12px;
        line-height: 5.45px;
      }
    }
  }
}
/* Стили для кнопки "Записаться на консультацию" */
.signup-button {
  margin-top: 55px;
  padding: 30px 60px 30px 60px;
  @media screen and (max-width: $desktop) {
    margin-top: 29.2px;
    padding: 16px 32px 16px 32px;
  }
  @media screen and (max-width: $tablet) {
    margin-top: 11.22px;
    padding: 6px 12px 6px 12px;
  }
}
/* Стили для блока с видео*/
.video-container {
  max-width: 789px;
  @media screen and (max-width: $desktop) {
    max-width: 423.73px;
  }
  @media screen and (max-width: $tablet) {
    max-width: 162.85px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 250px;
  }
}
.video-section {
  display: flex;
  flex-direction: row;
  gap: 2%;
  &__img {
    max-width: 285px;
    @media screen and (max-width: $desktop) {
      max-width: 151.33px;
    }
    @media screen and (max-width: $tablet) {
      max-width: 58.16px;
    }
  }
}
.doctor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 24px;
  background-color: $white;
  @media screen and (max-width: $desktop) {
    gap: 10.62px;
    padding: 5px 11px 5px 11px;
    border-radius: 13px;
  }
  @media screen and (max-width: $tablet) {
    gap: 4.08px;
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
  }
  &__name {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #292929;
    @media screen and (max-width: $desktop) {
      font-size: 15.93px;
      line-height: 14.18px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 6.12px;
      line-height: 5.45px;
    }
  }
  &__position {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #292929;
    @media screen and (max-width: $desktop) {
      font-size: 10.62px;
      line-height: 9.45px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 4.08px;
      line-height: 3.63px;
    }
  }
}
.experience {
  display: flex;
  flex-direction: row;
  gap: 15px;
  @media screen and (max-width: $desktop) {
    gap: 10.62px;
  }
  @media screen and (max-width: $tablet) {
    gap: 4.08px;
  }
  &__item {
    display: inline-block;
    background-color: $blue;
    padding: 15px 10px 15px 10px;
    border-radius: 12px;
    @media screen and (max-width: $desktop) {
      padding: 8px 5px 8px 5px;
      border-radius: 6px;
    }
    @media screen and (max-width: $tablet) {
      padding: 3px 2px 3px 2px;
      border-radius: 2px;
    }
    & p {
      font-family: Roboto;
      font-size: 30px;
      font-weight: 500;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
      color: $white;
      @media screen and (max-width: $desktop) {
        font-size: 15.93px;
        line-height: 14.18px;
      }
      @media screen and (max-width: $tablet) {
        font-size: 6.12px;
        line-height: 5.45px;
      }
    }
  }
}
.method {
  margin-top: 30px;
  background-color: $blue;
  padding: 26px 32px;
  @media screen and (max-width: $desktop) {
    margin-top: 15.93px;
    padding: 13.81px 22.17px;
  }
  @media screen and (max-width: $tablet) {
    margin-top: 6.12px;
    padding: 5.31px 8.52px;
  }

  & p {
    font-family: Coolvetica;
    font-size: 30px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #f7f7f7;
    @media screen and (max-width: $desktop) {
      font-size: 15.93px;
      line-height: 14.18px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 6.12px;
      line-height: 5.45px;
    }
  }
}

/* Стили для модального окна с видео */
#video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
#video-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
  max-width: 800px;
  background-color: $white;
  @media (max-width: $desktop) {
    width: 90%;
  }
}
#video-iframe {
  width: 100%;
  height: 100%;
  position: relative;
}
#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  color: $white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

//Стили для секции с условиями

.section-with-conditions {
  background-color: $lightblue;
}
/* Стили для заголовка h2 */
.header2 {
  padding-top: 100px;
  font-family: Coolvetica;
  font-size: 100px;
  font-weight: 400;
  line-height: 89px;
  letter-spacing: 0em;
  text-align: center;
  color: $blue;
  & span {
    color: $pink;
  }

  @media screen and (max-width: $desktop) {
    padding-top: 53.17px;
    font-size: 53.17px;
    line-height: 47.32px;
  }
  @media screen and (max-width: $tablet) {
    padding-top: 20.43px;
    font-size: 20.43px;
    line-height: 18.19px;
  }
}
/* Стили для блока с условиями */
.conditions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 36px;
  justify-content: space-between;
  margin-top: 70px;
  padding-bottom: 181px;
  @media screen and (max-width: $desktop) {
    margin-top: 37.54px;
    padding-bottom: 96.24px;
    row-gap: 19.14px;
  }
  @media screen and (max-width: $tablet) {
    margin-top: 14.49px;
    padding-bottom: 36.98px;
    row-gap: 7.36px;
  }
  &__item {
    flex-basis: 40%;
    padding: 33px 28px;
    border-radius: 600px;
    background-color: $blue;
    display: flex;
    flex-direction: row;
    gap: 40px;
    @media screen and (max-width: $desktop) {
      padding: 17.55px 14.89px;
      border-radius: 213px;
      gap: 21.27px;
    }
    @media screen and (max-width: $tablet) {
      padding: 6.74px 5.72px;
      border-radius: 82px;
      gap: 8.18px;
    }
    @media screen and (max-width: $mobile) {
      flex-basis: 100%;
    }
  }
  &__img {
    max-width: 264px;
    max-height: 264px;
    @media screen and (max-width: $desktop) {
      max-width: 140.37px;
      max-height: 140.37px;
    }
    @media screen and (max-width: $tablet) {
      max-width: 53.95px;
      max-height: 53.95px;
    }
  }
  &__text {
    display: flex;
    width: 433px;
    flex-direction: column;
    gap: 30px;
    @media screen and (max-width: $desktop) {
      width: 230.22px;
      gap: 15.66px;
    }
    @media screen and (max-width: $tablet) {
      width: 88.48px;
      gap: 6.16px;
    }
    @media screen and (max-width: $mobile) {
      width: 100%;
    }
    & h3 {
      font-family: Gilroy;
      font-size: 40px;
      font-weight: 700;
      line-height: 54px;
      letter-spacing: 0em;
      text-align: left;
      color: #292929;
      @media screen and (max-width: $desktop) {
        font-size: 21.27px;
        line-height: 28.54px;
      }
      @media screen and (max-width: $tablet) {
        font-size: 8.17px;
        line-height: 10.97px;
      }
      @media screen and (max-width: $mobile) {
        font-size: 14px;
      }
    }
    & p {
      font-family: Gilroy;
      font-size: 30px;
      font-weight: 500;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
      color: #292929;
      @media screen and (max-width: $desktop) {
        font-size: 15.95px;
        line-height: 21.41px;
      }
      @media screen and (max-width: $tablet) {
        font-size: 6.13px;
        line-height: 8.23px;
      }
      @media screen and (max-width: $mobile) {
        font-size: 10px;
      }
    }
  }
}

//Стили для блока о технологиях
.aboutt-technology {
  @include container;
  @media screen and (max-width: $desktop) {
    @include tablet-container;
  }
  @media screen and (max-width: $tablet) {
    @include mobile-container;
  }
  @media screen and (max-width: $mobile) {
    max-width: 240px;
    margin: 0 auto;
  }
}

.about {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;

  @media screen and (max-width: $tablet){
    margin-bottom: 10px;
  }

  @media screen and (max-width: $mobile){
    flex-direction: column;
  }

}

.about-title {
  position: relative;
  background: rgba($color: $blue, $alpha: 1.0);
  color: #ececec;
  width: 596px;
  height: 114px;
  text-align: center;
  font-family: 'Coolvetica';
  font-weight: 400;
  font-size: 80px;
  line-height: 71.2px;
  margin-left: 42px;
  margin-top: 100px;
  padding-top: 10px;

  @media screen and (max-width: $desktop) {
    width: 300px;
    height: 60.72px;
    font-weight: 300;
    font-size: 42.61px;
    line-height: 37.92px;
    margin-left: 20px;
    margin-top: 50px;
    padding-top: 7px;
  }

  @media screen and (max-width: $tablet) {
    width: 100px;
    height: 25px;
    font-weight: 300;
    font-size: 16.38px;
    line-height: 14.58px;
    margin-left: 35px;
    margin-top: 15px;
    padding-top: 5px;
  }

  @media screen and (max-width: $mobile) {
    width: 230px;
    height: 23.34px;
    font-size: 16.38px;
    line-height: 14.58px;
    margin-top: 10px;
    margin-left: 0px;
    padding-top: 5px;
  }
}

.about-left {
  width: 800px;
  height: 400px;

  @media screen and (max-width: $desktop) {
    width: 600px;
  }

  @media screen and (max-width: $tablet) {
    width: 200px;
    height: 250px;
  }

  @media screen and (max-width: $mobile) {
    height: 200px;

  }

}

.about-img {
  width: 737px;
  height: 448px;
  position: absolute;
  border-radius: 48px;
  border: 3px solid $blue;

  @media screen and (max-width: $desktop) {
    width: 392.56px;
    height: 238.63px;
    border-radius: 26px;
  }

  @media screen and (max-width: $tablet) {
    width: 150px;
    height: 100px;
    border-radius: 26px;
    margin-left: 15px;
  }

  @media screen and (max-width: $mobile) {
  width: 200px;
  height: 150px;
  }
}

.about-right {
  width: 771px;
  height: 324px;
  margin-top: 220px;
  margin-left: 50px;

  @media screen and (max-width: $desktop) {
  width: 700px;
  height: 171px;
  margin-top: 110px;
  }

  @media screen and (max-width: $tablet) {
    width: 200px;
    height: 130px;
    margin-top: 50px;
    margin-top: 40px;
  }

  @media screen and (max-width: $mobile) {
    width: 230px;
    margin-left: 15px;
    margin-top: 0;
  }
}

.about-content {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: $dark;
  letter-spacing: 3%;

  @media screen and (max-width: $desktop) {
    font-weight: 400;
    font-size: 12.78;
    line-height: 19.18px;
  }

  @media screen and (max-width: $tablet) {
    font-size: 10px;
    line-height: 10px;
  }
}


/*lena*/
/*Стили для блока с картой*/
/*шрифты*/
@font-face {
  font-family: 'Gilroy700';
  src: local('Gilroy700'),
    url(../fonts/Gilroy_700/Gilroy-Bold.ttf);
}

@font-face {
  font-family: 'Gilroy600';
  src: local('Gilroy600'),
    url(../fonts/Gilroy_600/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: 'Gilroy500';
  src: local('Gilroy500'),
    url(../fonts/Gilroy_500/Gilroy-Medium.ttf);
}

@font-face {
  font-family: 'Gilroy400';
  src: local('Gilroy400'),
    url(../fonts/Gilroy_400/Gilroy-Regular.ttf);
}
@font-face {
  font-family: 'Coolvetica400';
  src: local('Coolvetica400'),
    url(../fonts/Coolvetica_400/CoolveticaRg-Regular.ttf);
}

.wrapper-map{
  max-width: 1920px;
  width: 100%;
  display: flex;
  background-color: #CBE5FF;
  @media screen and (max-width: $desktop) {
    @include tablet-container;
  }
  @media screen and (max-width: $tablet) {
    @include mobile-container;
  }
  @media screen and (max-width: $mobile) {
    max-width: 240px;
    margin: 0 auto;
  }
}
.map{
  width: 100%;
  @include container;
  display: grid;
  grid-template-columns: 920px 700px;
  grid-template-rows: 460px 472px 193px;
  grid-template-areas:
    "title title"
    "map address"
    "link .";
  gap: 10px;
  @media screen and (max-width: $desktop) {
    @include tablet-container;
    display: grid;
    grid-template-columns: 490px 362px;
    grid-template-rows: 245px 207px 147px;
    gap: 10px;
  }
  @media screen and (max-width: $tablet) {
    @include mobile-container;
    grid-template-columns: 188px 139px;
    grid-template-rows: 94px 80px 56px;
    gap: 5px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 240px;
    margin: 0 auto;
    grid-template-columns: 240px;
    grid-template-rows: 50px 60px 50px 30px;
    grid-template-areas:
    "title"
    "map"
    "address"
    "link";
    gap: 2px;
  }
  &__title{
    grid-area: title;
    font-family: 'Coolvetica400';
    font-weight: 400;
    font-size: 120px;
    color: $blue;
    text-align: center;
    align-self: center;
    @media screen and (max-width: $desktop) {
      font-size: 64px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 25px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 15px;
    }
  }
  &__content{
    grid-area: map;
    width: 920px;
    height: 388px;
    border-radius: 30px;
    @media screen and (max-width: $desktop) {
      width: 490px;
      height: 207px;
      border-radius: 16px;
    }
    @media screen and (max-width: $tablet) {
      width: 188px;
      height: 79px;
      border-radius: 6px;
    }
    @media screen and (max-width: $mobile) {
      width: 200px;
      height: 60px;
      border-radius: 3px;
      justify-self: center;
    }

  }
  &__content-iframe{
    border-radius: 30px;
    width: 920px;
    height: 388px;
    @media screen and (max-width: $desktop) {
      width: 490px;
      height: 207px;
      border-radius: 16px;
    }
    @media screen and (max-width: $tablet) {
      width: 188px;
      height: 79px;
      border-radius: 6px;
    }
    @media screen and (max-width: $mobile) {
      width: 200px;
      height: 60px;
      border-radius: 3px;
    }
  }
  &__address{
    grid-area: address;
    width: 680px;
    height: 388px;
    border-radius: 30px;
    background-color: $blue;
    padding: 50px;
    @media screen and (max-width: $desktop) {
      width: 362px;
      height: 207px;
      border-radius: 16px;
      padding: 26px;
    }
    @media screen and (max-width: $tablet) {
      width: 139px;
      height: 79px;
      border-radius: 6px;
      padding: 10px;
    }
    @media screen and (max-width: $mobile) {
      width: 200px;
      height: 60px;
      border-radius: 3px;
      padding: 3px;
      justify-self: center;
    }
  }
  &__address-paragraph{
    font-family: 'Gilroy600';
    font-size: 35px;
    color: #f7f7f7;
    @media screen and (max-width: $desktop) {
      font-size: 18px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 8px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 6px;
    }
  }
  &__address-workmode{
    font-family: 'Gilroy400';
    font-size: 35px;
    color: #f7f7f7;
    margin-top: 30px;
    @media screen and (max-width: $desktop) {
      font-size: 18px;
      margin-top: 18px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 7px;
      margin-top: 5px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 5px;
      margin-top: 3px;
    }
  }
  &__link{
    grid-area: link;
    display: flex;

    @media screen and (max-width: $desktop) {
      margin-top: 25px;
    }
    @media screen and (max-width: $tablet) {
      margin-top: 6px;
    }
    @media screen and (max-width: $mobile) {
      margin-top: 6px;
      justify-self: center;
    }
  }
  &__link-img{
    width: 100px;
    height: 100px;
    @media screen and (max-width: $desktop) {
      width: 53px;
      height: 53px;
    }
    @media screen and (max-width: $tablet) {
      width: 20.46px;
      height: 20.46px;
    }
    @media screen and (max-width: $mobile) {
      width: 15px;
      height: 15px;
    }
  }
  &__link-href{
    outline: none;
    text-decoration: none;
    font-family: 'Gilroy600';
    font-size: 60px;
    color: $blue;
    align-self: self-start;
    padding-top: 25px;
    @media screen and (max-width: $desktop) {
      font-size: 32px;
      padding-top: 14px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 12px;
      padding-top: 7px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 8px;
      padding-top: 5px;
    }
  }
}
.button__call{
  width: 294px;
  height: 59px;
  margin-top: 30px;
  padding: 15px, 30px, 15px, 30px;
  font-family: 'Gilroy700';
  font-size: 24px;
  text-align: center;
  background-color: $pink;
  color: #f7f7f7;
  border-radius: 12px;
  border: none;
  box-shadow: inset 4px 4px 14px 0px #FFC8D6,
              inset -4px -4px 10px 0px #C88D9C;
  @media screen and (max-width: $desktop) {
    width: 157px;
    height: 31px;
    margin-top: 15px;
    padding: 7px, 16px, 8px, 16px;
    font-size: 12px;
    border-radius: 6px;
    box-shadow: inset 2px 2px 7.5px 0px #FFC8D6,
                inset -2px -2px 5px 0px #C88D9C;
    }
    @media screen and (max-width: $tablet) {
      width: 60.28px;
      height: 12.14px;
      margin-top: 5px;
      padding: 3px, 6px, 3px, 6px;
      font-size: 4.91px;
      border-radius: 2px;
      box-shadow: inset 0.8185136914253235px 0.8185136914253235px 2.864797592163086px 0px #FFC8D6;
      box-shadow: inset -0.8185136914253235px -0.8185136914253235px 2.0462841987609863px 0px #C88D9C;
    }
    @media screen and (max-width: $mobile) {
      padding: 1px, 3px, 1px, 3px;
      font-size: 4.5px;
    }
}
.button__ordercall{
  width: 249px;
  height: 59px;
  margin-top: 30px;
  margin-left: 30px;
  padding: 15px, 30px, 15px, 30px;
  font-family: 'Gilroy700';
  font-size: 24px;
  text-align: center;
  background-color: $blue;
  color: $pink;
  border-radius: 12px;
  border: 6px solid $pink;
  @media screen and (max-width: $desktop) {
    width: 133px;
    height: 31px;
    margin-top: 15px;
    padding: 7px, 16px, 8px, 16px;
    margin-left: 16px;
    font-size: 13px;
    border-radius: 6px;
    border: 3px solid $pink;
  }
  @media screen and (max-width: $tablet) {
    width: 52.28px;
    height: 12.14px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 3px, 6px, 3px, 6px;
    border-radius: 2px;
    border: 1px solid $pink;
    font-size: 4.91px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.5px;
  }
}
/*Оформление блока с консультацией Элины*/
.wrapper-consultation{
  max-width: 1920px;
  width: 100%;
  display: flex;
  height: 330px;
  background-color: $blue;
  color: $white;
  font-family: 'Gilroy700';
  justify-content: center;
  @media screen and (max-width: $desktop) {
    max-width: 1630px;
    height: 176px;
  }
  @media screen and (max-width: $tablet) {
    height: 67.64px;
  }
  @media screen and (max-width: $mobile) {
    height: 50px;
  }
}
.consultation{
  width: 100%;
  @include container;
  display: flex;
  justify-content: space-between;
  align-self: center;
  @media screen and (max-width: $desktop) {
    @include tablet-container;
  }
  @media screen and (max-width: $tablet) {
    @include mobile-container;
  }
  @media screen and (max-width: $mobile) {
    max-width: 240px;
    margin: 0 auto;
  }
  &__text{
    font-size: 63px;
    color: $white;
    @media screen and (max-width: $desktop) {
      font-size: 33px;
      font-weight: 700;
    }
    @media screen and (max-width: $tablet) {
      font-size: 12px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 9px;
    }
  }
  &__call{
    display: flex;
    border-radius: 200px;
    background-color: $white;
    width: 510px;
    height: 69px;
    align-self: end;
    @media screen and (max-width: $desktop) {
      border-radius: 107px;
      width: 276px;
      height: 37px;
    }
    @media screen and (max-width: $tablet) {
      width: 107.52px;
      height: 14.2px;
      border-radius: 40.9940071105957px;
    }
    @media screen and (max-width: $mobile) {
      width: 120px;
      height: 10px;
      border-radius: 25;
    }
  }
  &__call-input{
    background-color: #ffffff00;
    width: 330px;
    height: 59px;
    border-radius: 200px;
    padding: 15px, 30px, 15px, 30px;
    border: none;
    align-self: center;
    justify-content: center;
    @media screen and (max-width: $desktop) {
      width: 230px;
      height: 31px;
      border-radius: 107px;
      padding: 8px, 16px, 8px, 16px;
    }
    @media screen and (max-width: $tablet) {
      width: 69.22px;
      height: 14.22px;
      border-radius: 40.9940071105957px;
      padding: 1px, 1px, 1px, 6px;

    }
    @media screen and (max-width: $mobile) {
      width: 80px;
      height: 10px;
      border-radius: 20px;
      padding: 1px, 1px, 1px, 6px;
    }
  }
  &__call-button{
    align-self: center;
    width: 180px;
    height: 69px;
    border-radius: 200px;
    padding:15px, 30px, 15px, 30px;
    border: 5px solid $white;
    background-color: $pink;
    color: $white;
    font-size: 24px;
    @media screen and (max-width: $desktop) {
      width: 98px;
      height: 37px;
      border-radius: 107px;
      padding:8px, 16px, 8px, 16px;
      border: 3px solid $white;
      font-size: 12px;
    }
    @media screen and (max-width: $tablet) {
      width: 38.3px;
      height: 13.22px;
      border-radius: 41px;
      padding:3px, 6px, 3px, 6px;
      border: 1px solid $white;
      font-size: 4.92px;
    }
    @media screen and (max-width: $mobile) {
      width: 40px;
      height: 10px;
      border-radius: 20px;
      padding: 1px, 1px, 1px, 6px;
      font-size: 3.5px;
    }
  }
}
::placeholder{
  color: #D9D9D9;
  font-size: 24px;
  text-align: center;
  font-family: 'Gilroy700';
  @media screen and (max-width: $desktop) {
    font-size: 12px;
  }
  @media screen and (max-width: $tablet) {
    font-size: 4.92px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.5px;
  }
}
/*Стили футера*/
footer{
  background-color: $lightblue;
}
.wrapper-footer{
  width: 100%;
  @include container;
  display: grid;
  grid-template-columns: 23.74% 35.76% 23.12% 17.38%;
  grid-template-rows: 297px;
  @media screen and (max-width: $desktop) {
    @include tablet-container;
    grid-template-rows: 159px;
  }
  @media screen and (max-width: $tablet) {
    @include mobile-container;
    grid-template-rows: 67px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 240px;
    margin: 0 auto;
  }
}
/*Оформление бордеров футера*/
.license, .toc, .network{
  border-right: 1px solid #A5BFD9;
}
/*Оформление padding футера*/
.toc, .network, .pay{
  padding-top: 50px;
  @media screen and (max-width: $desktop) {
    padding-top: 27px;
  }
  @media screen and (max-width: $tablet) {
    padding-top: 10.16px;
  }
  @media screen and (max-width: $mobile) {
    padding-top: 6px;
  }
}
.license{
  padding: 50px 100px 0px 0px;
  display: grid;
  @media screen and (max-width: $desktop) {
    padding: 27px 53px 0px 0px;
  }
  @media screen and (max-width: $tablet) {
    padding: 10.17px 15px 0px 0px;
  }
  @media screen and (max-width: $mobile) {
    padding: 6px 5px 0px 0px;
  }
  &__company{
    font-family: 'Gilroy600';
    font-size: 30px;
    color: #292929;
    text-align: center;
    @media screen and (max-width: $desktop) {
      font-size: 16px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 6.5px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 5px;
    }
  }
  &__number{
    font-family: 'Gilroy400';
    font-size: 24px;
    color: #292929;
    text-align: center;
    margin-top: 25px;
    @media screen and (max-width: $desktop) {
      font-size: 12px;
      margin-top: 13px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 5.65px;
      margin-top: 5px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 4.5px;
    }
  }
  &__picture{
    height: 100px;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: $desktop) {
      height: 53px;
    }
    @media screen and (max-width: $tablet) {
      height: 20.31px;
      margin-top: 5px;
    }
    @media screen and (max-width: $mobile) {
      height: 15px;
    }
  }
  &__link{
    font-family: 'Gilroy500';
    font-size: 24px;
    color: #292929;
    justify-self: center;
    text-decoration-line: underline;
    cursor: pointer;
    @media screen and (max-width: $desktop) {
      font-size: 12px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 4.87px;
      margin-top: 5px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 4px;
    }
  }
}
.toc{
  display: grid;
  justify-content: center;

  &__block{
    display: grid;
    width: 169px;
    grid-template-rows: repeat(5, 23px);
    gap: 30px;
    @media screen and (max-width: $desktop) {
      width: 80px;
      grid-template-rows: repeat(5, 12px);
      gap: 15px;
    }
    @media screen and (max-width: $tablet) {
      width: 29px;
      grid-template-rows: repeat(5, 7px);
      gap: 5px;
    }
    @media screen and (max-width: $mobile) {
      grid-template-rows: repeat(5, 5px);
    }
  }
  &__block-p{
    outline: none;
    text-decoration: none;
    font-family: 'Gilroy400';
    font-size: 20px;
    color: #29292999;
    text-align: center;
    justify-self: left;
    @media screen and (max-width: $desktop) {
      font-size: 11px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 4.06px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 4px;
    }
  }
}
.toc__block-p:hover {
  text-decoration: underline;
}
.network{
  display: flex;
  justify-content: center;
  &__pic{
    margin-top: 126px;
    margin-left: 15px;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    @media screen and (max-width: $desktop) {
      margin-top: 66px;
      width: 27px;
      height: 27px;
    }
    @media screen and (max-width: $tablet) {
      margin-top: 30px;
      margin-left: 3px;
      margin-right: 3px;
      width: 10.16px;
      height: 10.16px;
    }
    @media screen and (max-width: $mobile) {
      width: 7px;
      height: 7px;
      margin-top: 25px;
    }
  }
}
.pay{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  @media screen and (max-width: $desktop) {
    margin-left: 50px;
  }
  @media screen and (max-width: $tablet) {
    margin-left: 40%;
  }
  &__pic{
    padding-bottom: 20px;
    width: 60px;
    height: 50px;
    justify-self: center;
    @media screen and (max-width: $desktop) {
      padding-bottom: 0px;
      margin-bottom: 10px;
      width: 32px;
      height: 16px;
    }
    @media screen and (max-width: $tablet) {
      padding-bottom: 0px;
      margin-bottom: 5px;
      width: 12.19px;
      height: 6.09px;
    }
  }
}
.wrapper-information{
  width: 100%;
  @include container;
  height: 239px;
  @media screen and (max-width: $desktop) {
    @include tablet-container;
    height: 99px;
  }
  @media screen and (max-width: $tablet) {
    @include mobile-container;
    height: 39px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 240px;
    margin: 0 auto;
    height: 25px;
  }

  &__title{
    font-family: 'Gilroy600';
    font-size: 25px;
    margin-top: 72px;
    @media screen and (max-width: $desktop) {
      font-size: 13px;
      margin-top: 29px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 5.08px;
      margin-top: 15px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 3px;
      margin-top: 7px;
    }
  }
  &__text{
    font-family: 'Gilroy400';
    font-size: 20px;
    margin-top: 17px;
    @media screen and (max-width: $desktop) {
      font-size: 10px;
      margin-top: 9px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 4.06px;
      margin-top: 5px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 2.5px;
      margin-top: 3px;
    }
  }
}
.upward{
  position: fixed;
  bottom: 190px;
  right: calc((101% - $desktop)/2);
  width: 75px;
  height: 75px;
  background-color: #FFB5C7;
  border-radius: 35px;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  @media screen and (max-width: $desktop) {
    width: 40px;
    height: 40px;
    right: calc((100% - $tablet)/2);
    bottom: 75px;
  }
  @media screen and (max-width: $tablet) {
    width: 15.23px;
    height: 15.23px;
    right: calc((100% - $mobile)/2);
    bottom: 25px;
  }
  @media screen and (max-width: $mobile) {
    width: 10px;
    height: 10px;
    right: calc((100% - 240px)/2);
    bottom: 20px;
  }
  &__img{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: $desktop) {
      width: 40px;
      height: 40px;
    }
    @media screen and (max-width: $tablet) {
      width: 15.23px;
      height: 15.23px;
    }
    @media screen and (max-width: $mobile) {
      width: 10px;
      height: 10px;
    }
  }
  &__img-pic{
    align-self: center;
    width: 25px;
    height: 25px;
    @media screen and (max-width: $desktop) {
      width: 13px;
      height: 13px;
    }
    @media screen and (max-width: $tablet) {
      width: 5.08px;
      height: 5.08px;
    }
    @media screen and (max-width: $mobile) {
      width: 4px;
      height: 4px;
    }
  }
}
.upward.active{
  visibility: visible;
  opacity: 1;
}

 /* Стили для модального окна с лицензией*/
 .license-modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  @media screen and (max-width: $desktop) {

  }
  @media screen and (max-width: $tablet) {

  }
  @media screen and (max-width: $mobile) {

  }
}
.license-modal__content{
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
    @media screen and (max-width: $desktop) {
      width: 50%;
      max-width: 700px;
    }
    @media screen and (max-width: $tablet) {
      max-width: 340px;
    }
    @media screen and (max-width: $mobile) {
      max-width: 240px;
    }
}
.license-modal__content img{
    width: 100%;
    height: auto;
}

/* Стили для изображения */
.minimized {
  cursor: pointer;
  transition: 0.3s;
}
.minimized:hover {
  opacity: 0.7;
}

/* Стили для модального окна с гарантией*/
.warranty-modal{
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.warranty-modal__content{
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1280px;
    @media screen and (max-width: $desktop) {
      max-width: 870px;
    }
    @media screen and (max-width: $tablet) {
      max-width: 340px;
    }
    @media screen and (max-width: $mobile) {
      max-width: 240px;
    }
}
#warranty-modal__image{
    width: 100%;
    height: auto;
}