
/*Box-sizing*/
* {
  box-sizing: border-box;
}

//colors
$blue: #4FA7FB;
$pink: #FF9FB7;
$whitesmoke: #F3F3F3;
$lightblue: #CBE5FF;
$white: #FFFFFF;
$black: #000000;

//Screens
$tablet: 1200px;
$mobile: 768px;

//mixins
@mixin container {
  max-width: 1622px;
    margin: 0 auto;
  }

@mixin tablet-container {
    max-width: 1200px;
    margin: 0 auto;
  }

@mixin mobile-container {
    max-width: 768px;
    margin: 0 auto;
  }

  @import "reset";


/*lena*/
@font-face {
  font-family: 'Gilroy700';
  src: local('Gilroy700'),
    url(../fonts/Gilroy_700/Gilroy-Bold.ttf);
}

@font-face {
  font-family: 'Gilroy600';
  src: local('Gilroy600'),
    url(../fonts/Gilroy_600/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: 'Gilroy500';
  src: local('Gilroy500'),
    url(../fonts/Gilroy_500/Gilroy-Medium.ttf);
}

@font-face {
  font-family: 'Gilroy400';
  src: local('Gilroy400'),
    url(../fonts/Gilroy_400/Gilroy-Regular.ttf);
}
@font-face {
  font-family: 'Coolvetica400';
  src: local('Coolvetica400'),
    url(../fonts/Coolvetica_400/CoolveticaRg-Regular_400.ttf);
}

.wrapper-map, .wrapper-consultation{
  max-width: 1920px;
  width: 100%;
  display: flex;
}
.wrapper-map{
  background-color: #CBE5FF;
}
.wrapper-consultation{
  height: 330px;
  background-color: $blue;
  color: $white;
  font-family: 'Gilroy700';
  justify-content: center;
}
.map, .consultation{
  width: 100%;
  @include container;
}
.map{
  display: grid;
  grid-template-columns: 920px 700px;
  grid-template-rows: 460px 472px 193px;
  grid-template-areas:
    "title title"
    "map address"
    "link .";
  gap: 10px;
}
.map_title{
  grid-area: title;
  font-family: 'Coolvetica400';
  font-weight: 400;
  font-size: 120px;
  color: $blue;
  text-align: center;
  align-self: center;
}
.map_content{
  grid-area: map;
  width: 920px;
  height: 388px;
  border-radius: 30px
}
.map_content-iframe{
  border-radius: 30px;
  width: 920px;
  height: 388px;
}
.map_address{
  grid-area: address;
  width: 680px;
  height: 388px;
  padding: 30px;
  border-radius: 30px;
  background-color: $blue;
  padding: 50px;
}
.map_address-paragraph{
  font-family: 'Gilroy600';
  font-size: 35px;
  color: #f7f7f7;
}
.map_address-workmode{
  font-family: 'Gilroy400';
  font-size: 35px;
  color: #f7f7f7;
  margin-top: 30px;
}
.map_link{
  grid-area: link;
  display: flex;
}
.map_link-img{
  width: 100px;
  height: 100px;
}
.map_link-href{
  outline: none;
  text-decoration: none;
  font-family: 'Gilroy600';
  font-size: 60px;
  color: $blue;
  align-self: self-start;
  padding-top: 25px;
}
.button_call{
  width: 294px;
  height: 59px;
  margin-top: 30px;
  padding: 15px, 30px, 15px, 30px;
  font-family: 'Gilroy700';
  font-size: 24px;
  text-align: center;
  background-color: $pink;
  color: #f7f7f7;
  border-radius: 12px;
  border: none;
  box-shadow: inset 4px 4px 14px 0px #FFC8D6,
              inset -4px -4px 10px 0px #C88D9C;
}
.button_ordercall{
  width: 249px;
  height: 59px;
  margin-top: 30px;
  margin-left: 30px;
  padding: 15px, 30px, 15px, 30px;
  font-family: 'Gilroy700';
  font-size: 24px;
  text-align: center;
  background-color: $blue;
  color: $pink;
  border-radius: 12px;
  border: 6px solid $pink;
}
.consultation{
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.consultation_text{
  font-size: 63px;
  color: $white;
}
.consultation_call{
  display: flex;
  border-radius: 200px;
  background-color: $white;
  width: 510px;
  height: 69px;
  align-self: end;
}
.consultation_call-input{
  background-color: #ffffff00;
  width: 330px;
  height: 59px;
  border-radius: 200px;
  padding:15px, 30px, 15px, 30px;
  border: none;
  align-self: center;
  justify-content: center;
}
::placeholder{
  color: #D9D9D9;
  font-size: 24px;
  text-align: center;
}
.consultation_call-button{
  align-self: center;
  width: 180px;
  height: 69px;
  border-radius: 200px;
  padding:15px, 30px, 15px, 30px;
  border: 5px solid $white;
  background-color: $pink;
  color: $white;
  font-size: 24px;
}
footer{
  background-color: $lightblue;
}
.wrapper-footer{
  width: 100%;
  @include container;
  display: grid;
  grid-template-columns: 23.74% 35.76% 23.12% 17.38%;
  grid-template-rows: 297px;
}
/*Оформление бордеров футера*/
.license, .toc, .network{
  border-right: 1px solid #A5BFD9;
}
/*Оформление padding футера*/
.toc, .network, .pay{
  padding-top: 50px;
}
.license{
  padding: 50px 100px 0px 0px;
  display: grid;
}
.license_company{
  font-family: 'Gilroy600';
  font-size: 30px;
  color: #292929;
  text-align: center;
}
.license_number{
  font-family: 'Gilroy400';
  font-size: 24px;
  color: #292929;
  text-align: center;
  margin-top: 25px;
}
.license_picture{
  height: 100px;
  display: flex;
  justify-content: space-around;
}
.license_link{
  font-family: 'Gilroy500';
  font-size: 24px;
  color: #292929;
  justify-self: center;
}
.toc{
  display: grid;
  justify-content: center;
}
.toc_block{
  display: grid;
  width: 169px;
  grid-template-rows: repeat(5, 23px);
  gap: 30px;
}
.toc_block-p{
  outline: none;
  text-decoration: none;
  font-family: 'Gilroy400';
  font-size: 20px;
  color: #29292999;
  text-align: center;
  justify-self: left;
}
.network{
  display: flex;
  justify-content: center;
}
.network_pic{
  margin-top: 126px;
  margin-left: 15px;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}
.pay{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.pay_pic{
  padding-bottom: 20px;
  width: 60px;
  height: 50px;
  justify-self: center;
}
.wrapper-information{
  width: 100%;
  @include container;
  height: 239px;
}
.wrapper-information_title{
  font-family: 'Gilroy600';
  font-size: 25px;
  margin-top: 72px;
}
.wrapper-information_text{
  font-family: 'Gilroy400';
  font-size: 20px;
  margin-top: 17px;
}
.upward{
  position: fixed;
  bottom: 190px;
  right: 140px;
  width: 75px;
  height: 75px;
  background-color: #FFB5C7;
  border-radius: 35px;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.upward.active{
  visibility: visible;
  opacity: 1;
}
.upward_img{
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
}
.upward_img-pic{
  align-self: center;
  width: 25px;
  height: 25px;
}