/*Box-sizing*/
* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(/assets/fonts/Gilroy_700/Gilroy-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(/assets/fonts/Gilroy_600/Gilroy-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(/assets/fonts/Gilroy_500/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(/assets/fonts/Gilroy_400/Gilroy-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Coolvetica", sans-serif;
  src: url(/assets/fonts/Coolvetica_400/CoolveticaRg-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/assets/fonts/Roboto_400/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/assets/fonts/Roboto_300/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/assets/fonts/Roboto_500/Roboto-Medium.ttf);
  font-weight: 500;
}
.title {
  font-family: "Coolvetica";
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 60px;
  color: #4fa7fb;
  font-size: 120px;
}
@media screen and (max-width: 1630px) {
  .title {
    max-width: 1622px;
    margin: 0 auto;
    font-size: 64px;
  }
}
@media screen and (max-width: 870px) {
  .title {
    max-width: 859.68px;
    margin: 0 auto;
    font-size: 24px;
  }
}
@media screen and (max-width: 340px) {
  .title {
    max-width: 328.39px;
    margin: 0 auto;
    font-size: 16px;
  }
}

.doctors-title {
  justify-self: center;
  grid-column: 1/5;
}

.doctors-container {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: 387px 387px 387px 387px;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  column-gap: 30px;
}
@media screen and (max-width: 1630px) {
  .doctors-container {
    max-width: 1622px;
    margin: 0 auto;
    grid-template-columns: 205px 205px 205px 205px;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    column-gap: 20px;
  }
}

.doctors-frame {
  display: grid;
  justify-content: center;
  align-content: end;
  height: 558px;
  margin-top: 50px;
}
@media screen and (max-width: 1630px) {
  .doctors-frame {
    max-width: 1622px;
    margin: 0 auto;
    height: 296px;
  }
}
.doctors-frame__background-circle {
  width: 375px;
  height: 375px;
  border-radius: 50%;
  background: #CBE5FF;
  box-shadow: 0px -202px 90px 0px rgba(255, 255, 255, 0.2901960784) inset;
}
@media screen and (max-width: 1630px) {
  .doctors-frame__background-circle {
    max-width: 1622px;
    margin: 0 auto;
    width: 198px;
    height: 198px;
  }
}
.doctors-frame__doctors-name {
  position: relative;
  bottom: 30px;
  left: 20px;
  width: 338px;
  height: 125px;
  background: #88C4FF;
  border-radius: 24px;
  box-shadow: 8px 8px 20px 0px rgba(255, 255, 255, 0.4196078431) inset;
  box-shadow: -8px -8px 30px 0px #5F8EBE inset;
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  padding: 24px;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 1630px) {
  .doctors-frame__doctors-name {
    max-width: 1622px;
    margin: 0 auto;
    width: 180px;
    height: 66px;
    border-radius: 13px;
    font-size: 16px;
    line-height: 19px;
    padding: 16px;
    left: -1px;
  }
}
.doctors-frame__doctors-image {
  position: relative;
  top: 370px;
  left: 50px;
}
@media screen and (max-width: 1630px) {
  .doctors-frame__doctors-image {
    max-width: 1622px;
    margin: 0 auto;
    top: 175px;
    left: 20px;
  }
}
@media screen and (max-width: 1630px) {
  .doctors-frame .doc-image {
    max-width: 1622px;
    margin: 0 auto;
    max-width: 90%;
  }
}

.callback-btn {
  display: block;
  grid-column: 1/5;
  margin: 100px auto;
  width: 788px;
  height: 118px;
  padding: 30px 60px 30px 60px;
  border-radius: 12px;
  border: none;
  gap: 10px;
  background: #FF9FB7;
  box-shadow: 4px 4px 14px 0px #FFC8D6 inset;
  box-shadow: -4px -4px 10px 0px #C88D9C inset;
  font-family: "Gilroy";
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #F7F7F7;
  cursor: pointer;
}
@media screen and (max-width: 1630px) {
  .callback-btn {
    max-width: 1622px;
    margin: 0 auto;
    width: 418px;
    height: 63px;
    font-size: 25px;
    line-height: 31px;
    border-radius: 6px;
    padding: 0;
    margin: 36px auto 60px auto;
    gap: 5px;
  }
}

.modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}
.modal__content {
  width: 50%;
  padding: 50px;
  background: #F3F3F3;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 5px 15px black;
  text-align: center;
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
}
@media screen and (max-width: 1630px) {
  .modal__content {
    max-width: 1622px;
    margin: 0 auto;
    width: 1020;
    font-size: 24px;
  }
}
.modal__close-button {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}
.modal__close-button__hover {
  transition: 0.3s;
}

.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.contact-form {
  font-family: "Gilroy";
}
.contact-form__tel {
  width: 55%;
  height: 75px;
  padding: 8px 16px 8px 16px;
  border-radius: 106px;
  border: 0.5px solid #292929;
  color: black;
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
  padding-left: 30px;
}
@media screen and (max-width: 1630px) {
  .contact-form__tel {
    max-width: 1622px;
    margin: 0 auto;
    width: 415px;
    height: 50px;
    font-size: 30px;
  }
}
.contact-form__tel:invalid {
  background-color: #f3f3f3;
  border: 2px solid #4fa7fb;
}
.contact-form__tel:focus:invalid {
  outline: none;
}
.contact-form__title {
  font-family: "Coolvetica";
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 0 20px;
}
@media screen and (max-width: 1630px) {
  .contact-form__title {
    max-width: 1622px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 28px;
  }
}
.contact-form__info {
  font-size: 28px;
  font-weight: 700;
}
@media screen and (max-width: 1630px) {
  .contact-form__info {
    max-width: 1622px;
    margin: 0 auto;
    font-size: 19px;
    line-height: 24px;
  }
}
.contact-form__input-box {
  margin: 20px 0;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 90%;
  color: #4fa7fb;
  border-radius: 0 0 5px 5px;
}

.error.active {
  padding: 0.3em;
}

.submit-btn {
  width: 55%;
  height: 76px;
  padding: 8px 16px 8px 16px;
  border-radius: 106px;
  border: none;
  gap: 5px;
  background: #FF9FB7;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0em;
  margin: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1630px) {
  .submit-btn {
    max-width: 1622px;
    margin: 0 auto;
    width: 415px;
    height: 50px;
    cursor: none;
    font-size: 19px;
  }
}

.stages {
  background: #cbe5ff;
}

.stage-container {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: 0.1fr 0.1fr 1fr;
  column-gap: 60px;
}
@media screen and (max-width: 1630px) {
  .stage-container {
    max-width: 1622px;
    margin: 0 auto;
    padding-bottom: 100px;
    grid-template-columns: 267px 267px 267px;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    column-gap: 32px;
  }
}
@media screen and (max-width: 870px) {
  .stage-container {
    max-width: 859.68px;
    margin: 0 auto;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    column-gap: 12px;
  }
}
@media screen and (max-width: 340px) {
  .stage-container {
    max-width: 328.39px;
    margin: 0 auto;
  }
}

.stage-title {
  justify-self: center;
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 120px;
}
@media screen and (max-width: 1630px) {
  .stage-title {
    max-width: 1622px;
    margin: 0 auto;
    font-size: 64px;
  }
}
@media screen and (max-width: 870px) {
  .stage-title {
    max-width: 859.68px;
    margin: 0 auto;
    font-size: 24px;
  }
}
@media screen and (max-width: 340px) {
  .stage-title {
    max-width: 328.39px;
    margin: 0 auto;
    font-size: 16px;
  }
}

.stage-subtitle {
  justify-self: center;
  grid-column: 1/4;
  grid-row: 2/3;
  font-size: 100px;
  font-family: "Coolvetica";
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #4fa7fb;
}
@media screen and (max-width: 1630px) {
  .stage-subtitle {
    max-width: 1622px;
    margin: 0 auto;
    font-size: 53px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 870px) {
  .stage-subtitle {
    max-width: 859.68px;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 340px) {
  .stage-subtitle {
    max-width: 328.39px;
    margin: 0 auto;
  }
}

.stage {
  display: grid;
  grid-row: 3/4;
  border-radius: 60px;
  color: #F7F7F7;
  background: #4fa7fb;
  justify-items: center;
  align-items: start;
}
@media screen and (max-width: 1630px) {
  .stage {
    max-width: 1622px;
    margin: 0 auto;
    border-radius: 32px;
    padding: 0;
  }
}
@media screen and (max-width: 870px) {
  .stage {
    max-width: 859.68px;
    margin: 0 auto;
    border-radius: 12px;
  }
}
@media screen and (max-width: 340px) {
  .stage {
    max-width: 328.39px;
    margin: 0 auto;
  }
}
.stage__description {
  font-family: "Gilroy";
  margin-top: 60px;
  height: 120px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 0em;
  padding-left: 45px;
  padding-right: 45px;
  justify-content: left;
}
@media screen and (max-width: 1630px) {
  .stage__description {
    max-width: 1622px;
    margin: 0 auto;
    margin-top: 24px;
    height: 70px;
    font-size: 27px;
    line-height: 32px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 870px) {
  .stage__description {
    max-width: 859.68px;
    margin: 0 auto;
    height: 30px;
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    margin-top: 12px;
  }
}
@media screen and (max-width: 340px) {
  .stage__description {
    max-width: 328.39px;
    margin: 0 auto;
  }
}
.stage__image-container {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #cbe5ff;
  width: 410px;
  height: 370px;
  border-radius: 36px;
  margin-top: 60px;
}
@media screen and (max-width: 1630px) {
  .stage__image-container {
    max-width: 1622px;
    margin: 0 auto;
    margin-top: 24px;
    width: 219px;
    height: 198px;
    border-radius: 19px;
  }
}
@media screen and (max-width: 870px) {
  .stage__image-container {
    max-width: 859.68px;
    margin: 0 auto;
    margin-top: 10px;
    width: 84px;
    height: 76px;
    border-radius: 7px;
  }
}
@media screen and (max-width: 340px) {
  .stage__image-container {
    max-width: 328.39px;
    margin: 0 auto;
  }
}
.stage__gradient-line {
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 124.79%);
  border: none;
  top: 640px;
  margin-top: 45px;
  height: 4px;
  width: 370px;
}
@media screen and (max-width: 1630px) {
  .stage__gradient-line {
    max-width: 1622px;
    margin: 0 auto;
    margin-top: 30px;
    height: 2px;
    width: 219px;
  }
}
@media screen and (max-width: 870px) {
  .stage__gradient-line {
    max-width: 859.68px;
    margin: 0 auto;
    height: 1px;
    margin-top: 10px;
    width: 82px;
  }
}
@media screen and (max-width: 340px) {
  .stage__gradient-line {
    max-width: 328.39px;
    margin: 0 auto;
  }
}
.stage__text {
  font-family: "Gilroy";
  font-weight: 500;
  padding-left: 45px;
  padding-right: 45px;
  margin: 45px 0;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #F7F7F7;
}
@media screen and (max-width: 1630px) {
  .stage__text {
    max-width: 1622px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px 0;
    font-size: 19px;
    line-height: 23px;
  }
}
@media screen and (max-width: 870px) {
  .stage__text {
    max-width: 859.68px;
    margin: 0 auto;
    font-size: 7px;
    line-height: 8.7px;
    margin: 10px 0;
  }
}
@media screen and (max-width: 340px) {
  .stage__text {
    max-width: 328.39px;
    margin: 0 auto;
  }
}
.stage .stage-image {
  max-width: 100%;
  justify-self: center;
}
@media screen and (max-width: 1630px) {
  .stage .stage-image {
    max-width: 1622px;
    margin: 0 auto;
    max-width: 50%;
  }
}
@media screen and (max-width: 870px) {
  .stage .stage-image {
    max-width: 859.68px;
    margin: 0 auto;
    max-width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
