@charset "UTF-8";
/*Box-sizing*/
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  src: url(/assets/fonts/Gilroy_700/Gilroy-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Coolvetica";
  src: url(/assets/fonts/Coolvetica_400/CoolveticaRg-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  max-width: 1622px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 63px;
}

/* Стили для логотипа */
.logo {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #4fa7fb;
  margin-right: 257px;
}
.logo:hover {
  color: #ff9fb7;
}

/* Стили для меню */
.menu {
  margin-right: 168px;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu li {
  margin-right: 50px;
}
.menu a {
  text-decoration: none;
  color: #4fa7fb;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.menu a:hover {
  color: #ff9fb7;
}

/* Стили для кнопки с номером телефона */
.phone-button {
  display: inline-block;
  background-color: #4fa7fb;
  box-shadow: 4px 4px 14px 0px rgba(208, 235, 255, 0.4) inset;
  box-shadow: -4px -4px 10px 0px rgba(45, 83, 111, 0.4) inset;
  padding: 10px;
  border-radius: 12px;
  border-color: #4fa7fb;
  text-align: center;
  /* Смена стиля кнопки при наведении */
}
.phone-button:hover {
  background-color: #ff9fb7;
  border-color: #ff9fb7;
  box-shadow: 4px 4px 14px 0px #ffc8d6 inset;
  box-shadow: -4px -4px 10px 0px #c88d9c inset;
}

/* Стили для номера телефона */
.phone-number {
  display: block;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #f7f7f7;
}

.section-with-man {
  background-image: url("/assets/images/main-man.png");
  background-position: center right; /* Позиционирование изображения */
  background-repeat: no-repeat; /* Запрет повторения изображения */
}

/* Заголовок h1 */
.main-header {
  max-width: 1134px;
  margin-top: 210px;
  font-family: Coolvetica;
  font-size: 140px;
  font-weight: 400;
  line-height: 125px;
  letter-spacing: 0em;
  text-align: left;
  color: #4fa7fb;
}

/* Кнопка с ценой */
.price-button {
  display: inline-block;
  max-width: 567px;
  margin-top: 30px;
  padding: 30px 60px 30px 60px;
  border-radius: 24px;
  background-color: #ff9fb7;
  box-shadow: 4px 4px 14px 0px #ffc8d6 inset;
  box-shadow: -4px -4px 10px 0px #c88d9c inset;
  text-align: center;
  /* Смена стиля кнопки при наведении */
}
.price-button a {
  text-decoration: none;
}
.price-button:hover {
  background-color: #4fa7fb;
  box-shadow: 4px 4px 14px 0px rgba(208, 235, 255, 0.4) inset;
  box-shadow: -4px -4px 10px 0px rgba(45, 83, 111, 0.4) inset;
}

/* Стили для цены */
.price {
  font-family: Coolvetica;
  font-size: 100px;
  font-weight: 400;
  line-height: 89px;
  letter-spacing: 0em;
  text-align: left;
  color: #f7f7f7;
}

/* Стили для преимуществ */
.advantages {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.advantages__item {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}
.advantages__img {
  max-width: 100px;
  width: 100%;
}
.advantages__name {
  display: inline-block;
  padding: 20px 15px 20px 15px;
  border-radius: 12px;
  background-color: #4fa7fb;
}
.advantages__name span {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
