@charset "UTF-8";
/*Box-sizing*/
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  src: url(/assets/fonts/Gilroy_700/Gilroy-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Coolvetica";
  src: url(/assets/fonts/Coolvetica_400/CoolveticaRg-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  max-width: 1622px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 63px;
}

/* Стили для логотипа */
.logo {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #4fa7fb;
  margin-right: 15.8%;
}
.logo:hover {
  color: #ff9fb7;
}

/* Стили для меню */
.menu {
  margin-right: 10%;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu li {
  margin-right: 50px;
}
.menu a {
  text-decoration: none;
  color: #4fa7fb;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.menu a:hover {
  color: #ff9fb7;
}

/* Стили для голубых кнопок: с номером телефона и "Записаться на консультацию" */
.blue-button {
  display: inline-block;
  background-color: #4fa7fb;
  box-shadow: 4px 4px 14px 0px rgba(208, 235, 255, 0.4) inset;
  box-shadow: -4px -4px 10px 0px rgba(45, 83, 111, 0.4) inset;
  padding: 10px;
  border-radius: 12px;
  border-color: #4fa7fb;
  text-align: center;
  /* Смена стиля кнопки при наведении */
}
.blue-button:hover {
  background-color: #ff9fb7;
  border-color: #ff9fb7;
  box-shadow: 4px 4px 14px 0px #ffc8d6 inset;
  box-shadow: -4px -4px 10px 0px #c88d9c inset;
}

/* Стили для номера телефона */
.blue-button-text {
  display: block;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #f7f7f7;
}

.section-with-man {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url("/assets/images/main-man.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: -25px;
}

/* Заголовок h1 */
.main-header {
  max-width: 1134px;
  padding-top: 114px;
  font-family: Coolvetica;
  font-size: 140px;
  font-weight: 400;
  line-height: 125px;
  letter-spacing: 0em;
  text-align: left;
  color: #4fa7fb;
}

/* Кнопка с ценой */
.price-button {
  display: inline-block;
  max-width: 567px;
  margin-top: 30px;
  padding: 30px 60px 30px 60px;
  border-radius: 24px;
  background-color: #ff9fb7;
  box-shadow: 4px 4px 14px 0px #ffc8d6 inset;
  box-shadow: -4px -4px 10px 0px #c88d9c inset;
  text-align: center;
}
.price-button a {
  text-decoration: none;
}

/* Стили для цены */
.price {
  font-family: Coolvetica;
  font-size: 100px;
  font-weight: 400;
  line-height: 89px;
  letter-spacing: 0em;
  text-align: left;
  color: #f7f7f7;
}

.cover-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding-bottom: 60px;
  gap: 346px;
}

/* Стили для преимуществ */
.advantages {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.advantages__item {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}
.advantages__img {
  max-width: 100px;
  width: 100%;
}
.advantages__name {
  display: inline-block;
  padding: 20px 15px 20px 15px;
  border-radius: 12px;
  background-color: #4fa7fb;
}
.advantages__name span {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

/* Стили для кнопки "Записаться на консультацию" */
.signup-button {
  margin-top: 55px;
  padding: 30px 60px 30px 60px;
}

/* Стили для блока с видео*/
.video-container {
  max-width: 789px;
}

.video-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.doctor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 24px;
  background-color: #ffffff;
}
.doctor__name {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #292929;
}
.doctor__position {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #292929;
}

.experience {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.experience__item {
  display: inline-block;
  background-color: #4fa7fb;
  padding: 15px 10px 15px 10px;
  border-radius: 12px;
}
.experience__item span {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.method {
  margin-top: 30px;
  background-color: #4fa7fb;
  padding: 26px 32px;
}
.method span {
  font-family: Coolvetica;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #f7f7f7;
}

/* Стили для модального окна с видео */
#video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

#video-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#video-iframe {
  width: 100%;
  height: 100%;
  position: relative;
}

#close-button {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  background-color: red;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-with-conditions {
  background-color: #cbe5ff;
}

/* Стили для заголовка h2 */
.header2 {
  padding-top: 100px;
  font-family: Coolvetica;
  font-size: 100px;
  font-weight: 400;
  line-height: 89px;
  letter-spacing: 0em;
  text-align: center;
  color: #4fa7fb;
}
.header2 span {
  color: #ff9fb7;
}

/* Стили для блока с условиями */
.conditions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 36px;
  justify-content: space-between;
  margin-top: 70px;
  padding-bottom: 181px;
}
.conditions__item {
  flex-basis: 48%;
  padding: 33px 28px;
  border-radius: 600px;
  background-color: #4fa7fb;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.conditions__img {
  max-width: 264px;
  max-height: 264px;
}
.conditions__text {
  display: flex;
  width: 433px;
  flex-direction: column;
  gap: 30px;
}
.conditions__text h3 {
  font-family: Gilroy;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #292929;
}
.conditions__text p {
  font-family: Gilroy;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #292929;
}

/*# sourceMappingURL=style.css.map */
